body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#results {
    margin-top: 20px;
}

#flightsList {
    list-style-type: none;
    padding: 0;
}

#flightsList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Стили для навбара */
.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #007bff !important;
}

.navbar-brand, .nav-link, #signInBtn, #logOutBtn {
    color: #111111 !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: #564b4b !important;
}

#signInBtn {
    background-color: #28a745;

}

#logOutBtn {
    background-color: #dc3545;

}

#signInBtn:hover {
    background-color: #218838;
}

#logOutBtn:hover {
    background-color: #c82333;
}

.select-flight-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.select-flight-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}



.select-flight-btn:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.message-container {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: none; /* Hidden by default */
}

.message-container.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message-container.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.message-container {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.message-container.show {
  opacity: 1;
}
